/build
/node_modules
package-lock.json
/build
.vscode
.eslintcache
.history
src/assets/data/Forest.code-workspace
yarn-error.log
skogapp-dashboard.code-workspace
.env

# Local Netlify folder
.netlify
*.aux.xml
credentials/client_secret_1000045069276-aibde34q6b1fucdu3m8uckj061i7gkku.apps.googleusercontent.com.json
